.ImageStyle{
    width: 100%;
    z-index: 1;

}


.OutSideStyle{
    background-color: rgba(71, 71, 71, 0.87);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.36), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 25px;
    position: relative;
    margin-left: 15%;
    margin-top: 70px;
    width: 70%;
    display: inline-block;
    z-index: 1;
}

.IconSlidShow{
    margin-left: 0%;
    z-index: 5;
    position: absolute;
    background: linear-gradient(120deg, #c6a818, #dcbd19);
    color: #000000;
    padding: 6px 40px;
    text-align: center;
    text-decoration: none;
    display: inline-flex;
    font-size: 8pt;
    transition-duration: 0.4s;
    align-items: flex-end;
    font-style: normal;
    font-family:"Consolas";
}




.ContainerImageSelectar{
    margin-left: 48.25%;
    margin-top: -30px;
}


.ArrowMoveLeft:hover{
    background: rgba(168, 168, 168, 0.31);
}

.ArrowMoveRight:hover{
    background: rgba(168, 168, 168, 0.31);
}
.ArrowMoveLeft{
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 4px;
    padding-bottom: 4px;
    z-index: 5;
    text-decoration: none;
    display: inline-flex;
    font-size: 12pt;
    cursor: pointer;
    transition-duration: 0.4s;
    align-items: flex-end;
}


.ArrowMoveRight{
   float: right;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 4px;
    padding-bottom: 4px;
    z-index: 5;
    text-decoration: none;
    display: inline-flex;
    font-size: 12pt;
    cursor: pointer;
    transition-duration: 0.4s;
    transform: rotate(180deg);
    align-items: flex-end;
}